[submodule "RUPStrikesBack"]
	path = RUPStrikesBack
	url = https://github.com/rstyczynski/RUPStrikesBack.git
[submodule "github_lab"]
	path = github/github_lab
	url = https://github.com/github/github_lab.git
[submodule "github_collection_github_lab"]
	path = github_collection/github_lab
	url = https://github.com/github/github_lab.git
[submodule "github_task-sets_github_lab"]
	path = github_task-sets/github_lab
	url = https://github.com/github/github_lab.git
