# INPUT VARIABLES TABLE
# | name                      | type   | description                                 |
# |---------------------------|--------|---------------------------------------------|
# | repo_commit_dest_path     | string | Destination path to the git repository      |
# | repo_commit_commit_message| string | Commit message (required)                    |
#
# OUTPUT VARIABLES TABLE
# | name                          | type   | description                                    |
# |-------------------------------|--------|------------------------------------------------|
# | repo_commit_git_status        | dict   | Git status information                         |
# | repo_commit_git_commit_result| dict   | Result of committing changes                   |
---
- name: "Commit: Validate arguments"
  ansible.builtin.validate_argument_spec:
    argument_spec: "{{ (lookup('file', role_path + '/meta/argument_specs.yml') | from_yaml).argument_specs.main.options }}"

- name: "Commit: Check git status"  # noqa: command-instead-of-module
  ansible.builtin.command:
    cmd: git status --porcelain
    chdir: "{{ repo_commit_dest_path }}"
  register: repo_commit_git_status
  changed_when: false

- name: "Commit: Commit changes if staged"
  ansible.builtin.command:
    cmd: git commit -m "{{ repo_commit_commit_message }}"
    chdir: "{{ repo_commit_dest_path }}"
  when: repo_commit_git_status.stdout != ""
  register: repo_commit_git_commit_result
  changed_when: repo_commit_git_commit_result.rc == 0

- name: "Commit: Display git status"
  ansible.builtin.debug:
    msg: "{{ repo_commit_git_status.stdout_lines }}"
  when: repo_commit_git_status.stdout != ""
